<section >

    <div class="container mt-5">
        <h4 class="text-center">About us</h4>
        <div class="row ">
            
            <div class="sec1 col-md-4 text-center mt-3">
                <i class="fa fa-lock fa-5x " aria-hidden="true"></i>
                <p class="text-dark ">Security&Trust</p>
                <p class="text-center">Sed auctor felis ac purus gravida facilisis. Vivamus vulputate dui ut odio sagittis gravida.Vivamus vulputate dui ut odio sagittis gravida.</p>
  
            </div>
            <div class="sec1 col-md-4 text-center">
                <i class="fa fa-money fa-5x" aria-hidden="true"></i>
                <p class="text-dark">Best Price</p>
                <p class="text-center">Sed auctor felis ac purus gravida facilisis. Vivamus vulputate dui ut odio sagittis gravida.Vivamus vulputate dui ut odio sagittis gravida.</p>
  
            </div>
            <div class="sec1 col-md-4 text-center">
                <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
                <p class="text-dark">Availability</p>
                <p class="text-center">Sed auctor felis ac purus gravida facilisis. Vivamus vulputate dui ut odio sagittis gravida.Vivamus vulputate dui ut odio sagittis gravida.</p>
  
            </div>
        </div>
    </div>
  </section>
  <section >
    <div class="container">
        <h4 class="text-center"> Facilities</h4>
        <div class="row">
            <div class="sec2 col-md-4 mt-3">
                <div class="card">
                    <img src="./assets/img/washing-machine.svg" alt="" class=" img-fluid loginicon ">
                    
                    <div class="card-body  ">
                        <h3 class="text-center">Laundry</h3>
                        <p>ivamus vulputate dui ut odio sagittis gravida.</p>
                        
                        
                        
                       
  
                    </div>
                </div>
            </div>
            <div class="sec2 col-md-4 mt-3">
                <div class="card">
                    <img src="./assets/img/wifi.svg" alt="" class=" img-fluid loginicon ">
                    
                    <div class="card-body  ">
                        <h3 class="text-center">Free wifi</h3>
                        <p>ivamus vulputate dui ut odio sagittis gravida.</p>
                        
                    </div>
                </div>
            </div>
            <div class="sec2 col-md-4 mt-3">
                <div class="card">
                    <img src="./assets/img/kitchen.svg" alt="" class=" img-fluid loginicon ">
                    
                    <div class="card-body ">
                        <h3 class="text-center" >kitchen</h3>
                        <p>ivamus vulputate dui ut odio sagittis gravida.</p>
                        
                        
                       
  
                    </div>
                </div>
            </div>
            <div class="sec2 col-md-4 mt-3">
                <div class="card">
                    <img src="./assets/img/tv-monitor.svg" alt="" class=" img-fluid loginicon ">
                    
                    <div class="card-body ">
                        <h3 class="text-center">Television</h3>
                        <p>ivamus vulputate dui ut odio sagittis gravida.</p>
                        
                        
                       
  
                    </div>
                </div>
            </div>
            <div class="sec2 col-md-4 mt-3">
                <div class="card">
                    <img src="./assets/img/shower.svg" alt="" class=" img-fluid loginicon ">
                    
                    <div class="card-body  ">
                        <h3 class="text-center">Hot shower</h3>
                        <p>ivamus vulputate dui ut odio sagittis gravida.</p>
                        
                       
  
                    </div>
                </div>
            </div>
            <div class="sec2 col-md-4 mt-3">
                <div class="card">
                    <img src="./assets/img/healthy-eating.svg" alt="" class=" img-fluid loginicon ">
                    
                    <div class="card-body ">
                        <h3 class="text-center">Healthy food</h3>
                        <p>ivamus vulputate dui ut odio sagittis gravida.</p>
                        
                       
  
                    </div>
                </div>
            </div>
  
            <div class="sec2 col-md-4 mt-3">
                <div class="card">
                    <img src="./assets/img/lockers.svg" alt="" class=" img-fluid loginicon ">
                    
                    <div class="card-body ">
                        <h3 class="text-center">Personal Lockers</h3>
                        <p>ivamus vulputate dui ut odio sagittis gravida.</p>
                        
                       
  
                    </div>
                </div>
            </div>
            <div class="sec2 col-md-4 mt-3">
                <div class="card">
                    <img src="./assets/img/air-conditioner.svg" alt="" class=" img-fluid loginicon ">
                    
                    <div class="card-body ">
                        <h3 class="text-center">Air Conditioning</h3>
                        <p>ivamus vulputate dui ut odio sagittis gravida.</p>
                        
                       
  
                    </div>
                </div>
            </div>
            <div class="sec2 col-md-4 mt-3">
                <div class="card">
                    <img src="./assets/img/iron.svg" alt="" class=" img-fluid loginicon ">
                    
                    <div class="card-body ">
                        <h3 class="text-center">Iron</h3>
                        <p>ivamus vulputate dui ut odio sagittis gravida.</p>
                        
                       
  
                    </div>
                </div>
            </div>
  
        </div>
    </div>
  </section>