<section class="container">
  <section class="wrapper">
    <!--overview start-->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="icon_calendar"></i> Hostel registration</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a routerLink="/home">Home</a></li>
          <li><i class="icon_calendar"></i> Hostel registration</li>
        </ol>
      </div>
    </div> 
  </section>
    <!-- Form validations -->
    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
            Hostel registration
          </header>
          <h3 class="col-lg-10">Please select room type:</h3>
          <div class="panel-body">
            <div class="form">
              <form class="form-validate form-horizontal" id="hostel_registration" method="get" action="">
                <div class="form-group ">
                  <label for="lbllname" class="control-label col-lg-2">State <span class="required">*</span></label>
                  <div class="col-lg-10">
                    <select [(ngModel)]="room.room_type" [ngModelOptions]="{standalone: true}">
                      <option *ngFor ="let c of room_type">{{c.name}} </option>
                </select>
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-primary" type="submit" (click)="bookRoom()" >Book</button>
                    <button class="btn btn-default" type="button" >Cancel</button>
                  </div>
                </div>
              </form>
            </div>

         </div>
      </section>
    </div>
  </div>
</section>






